<div class="listo-nav">
  <i class="fas fa-music"></i>
  <% if user_signed_in? %>
  <div>
    <%= current_user.name_or_email %>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
    <% end %>
    <%= image_tag current_user.spotify_photo_url, class: "avatar" %>
  </div>
  <% else %>
    <%= link_to 'Sign in with Spotify', user_spotify_omniauth_authorize_path %>
  <% end %>
</div>

