<div class="banner">
  <h3>GENERATE A PLAYLIST FOR YOUR NEXT FESTIVAL.</h3>
</div>
<div class="home-search">
  <% if user_signed_in? %>
    <%= form_tag search_path, method: :get, remote: true, id: "search-form" do %>
      <%= text_field_tag 'searched_event', nil, placeholder: 'Type the name of your event', autofocus: true, autocomplete: false %>
      <%= submit_tag "search", hidden: true %>
    <% end %>
  <% else %>
    <%= link_to 'Sign in with Spotify', user_spotify_omniauth_authorize_path, class: "btn btn-listo btn-lg" %>
  <% end %>
</div>
<div class="found-festivals container" id="festivalContainer">
  <% if @found_festivals %>
    <%= render "festival_list", found_festivals: @found_festivals %>
  <% end %>
</div>

<%= javascript_pack_tag "search" %>
