<div class="container">
  <div class="row">
    <% @artists.each do |artist| %>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card" style="background-image: url(<%= artist.images.first["url"] %>)">
        <h2><%= artist.name %></h2>
      </div>
    </div>
    <% end %>
  </div>
  <%= form_tag playlist_path do %>
    <% @artists.each do |artist| %>
      <div>
        <span><%= artist.name %></span>
        <%= check_box_tag 'artist_names[]', artist.name %>
      </div>
    <% end %>
    <%= submit_tag :go %>
  <% end %>
</div>
